$main-accent-color: #2196f3;
$header-color: #212121;
$text-color: #757575;
$white-accent-color: #ffffff;
$dark-bg-color: #2f303a;
$white-bg-color: #ffffff;
$grey-bg-color: #f5f4fa;
$active-accent-color: #188ce8;
$main-black-color: #000000;
$icon-color: #afb1b8;
